<div class="card mt-4">
  <div class="card-header">
  Category
  </div>
  <ul class="list-group list-group-flush">
    <a [routerLink] ="['search/Vehicle']"> <li class="list-group-item"> Vehicle </li></a>
   <a [routerLink] ="['search/Cartoons']"> <li class="list-group-item"> Cartoons </li></a>
   <a [routerLink] ="['search/Reaction']"><li class="list-group-item"> Reaction </li></a>
   <a [routerLink] ="['search/Entertainment']"><li class="list-group-item"> Entertainment</li></a>
   <a [routerLink] ="['search/Sport']"><li class="list-group-item"> Sport </li></a>
   <a [routerLink] ="['search/Stickers']"><li class="list-group-item"> Stickers </li></a>
   <a [routerLink] ="['search/Artists']"><li class="list-group-item"> Artists </li></a>
  
  </ul>
</div>