<div class="row">
  <div class="col-3 logo"> GighyArom </div>
  <div class="col-9 subheader">
    <li> Upload </li>
    <li> Create </li>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Username
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="#">Favorits</a>
        <a class="dropdown-item" href="#">Log Out</a>
      </div>
    </div>
  </div>
  
</div>